hr {
    margin: 30px 0;
    width: 90%;
}
div.first_choice{
    background-color: #ffffff;
    border-radius: 5px;
    margin: 0 auto;
    padding: 1%;
    width: 95%;
    border: 1px solid #aaa;
    text-align: center;

}

div.loading{
    background-color: lightskyblue;
    border-radius: 5px;
    margin: 0 auto;
    padding: 1%;
    width: 95%;
    border: 1px solid #aaa;
    text-align: center;
    color: #ffffff;
    font-weight:bold;

}
div.first_choice button{
    color: #fff;
    background-color: #4CAAE0;
    border-radius: 4px;
    padding: 10px 15px;
    text-decoration: none;
    width: 50%;
    font-size: 16px;
    font-weight: bold;

}

div.register_new{
    background-color: #ffffff;
    border-radius: 5px;
    margin: 0 auto;
    padding: 1%;
    width: 95%;
    border: 1px solid #aaa;
}

div.api_table{
    background-color: #ffffff;
    border-radius: 5px;
    margin: 0 auto;
    padding: 1%;
    width: 95%;
    border: 1px solid #aaa;
}
table.register_table{
    width: 100%;
    border-spacing:  7px;
    font-size: 14px;

}

table.api_table{
    width: 100%;
    border-spacing:  7px;
    font-size: 14px;

}

a.sdp_link {
    color: #fff;
    background-color: #4CAAE0;
    border-radius: 4px;
    padding: 10px 15px;
    text-decoration: none;
}
form#sdpCookiesForm {
    max-width: 100%;
}
form#sdpCookiesForm textarea {
    width: 100%;
}
form#sdpCookiesForm input[type="url"],
form#sdpCookiesForm input[type="text"] {
    padding: 8px;
    width: 100%;
    border-radius: 5px;
}

form#sdpCookiesForm select{
    padding: 8px;
    width: 100%;
}

form#sdpCookiesForm input[type="submit"] {
    color: #fff;
    background-color: #4CAAE0;
    border-radius: 4px;
    padding: 10px 15px;
    text-decoration: none;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
}
form#sdpCookiesForm figure img {
    max-width: 100%;
}
.img_logo {
    padding-top: 40px;
}
.img_cookies_friend {
    float: left;
}
.sdp_cookies_plugin_intro {

}
.sdp_cookies_introtext {
    background-color: #FEFEFE;
    box-shadow: 0 3px 6px #333;
    border: 3px solid #333;
    border-radius: 18px;
    margin-right: 200px;
    max-width: 500px;
    padding: 6px 20px;
}
div.updated.sdp_cookies_notice,
.wrap div.updated.sdp_cookies_notice {
    background: transparent;
    border: 1px solid #4CAAE0;
    padding: 10px;
    position: relative;
    overflow: hidden;
}
div.updated.sdp_cookies_notice a.sdp_link,
.wrap div.updated.sdp_cookies_notice a.sdp_link {
    float: left;
    margin-right: 8px;
}
div.updated.sdp_cookies_notice p,
.wrap div.updated.sdp_cookies_notice p {
    float: left;
}
div.updated.sdp_cookies_notice img,
.wrap div.updated.sdp_cookies_notice img {
    position: absolute;
    right: 0;
    top: 0;
    opacity: .3;
}
#ipTable table,
#cookiesTable table{
    color: #4CAAE0;
    max-width: 100%;
    width: 100%;
}
#ipTable table thead,
#cookiesTable table thead {
    background: #4CAAE0;
}
#ipTable table thead th,
#cookiesTable table thead th{
    color: #fefefe;
    font-size: 12px;
    padding: 10px 8px;
}
#ipTable table tbody td,
#cookiesTable table tbody td{

    font-size: 12px;
    padding: 10px 8px;
}
.sdp_warning {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    max-width: 790px;
}